.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  font-size: 1.5rem;
  color: #0b132b;
  box-shadow: 0 0 0.125rem #0b132b;
}

.nav-profile-brand-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-profile-container {
  display: flex;
  align-items: center;
  height: 4rem;
  transition: border 1s ease;
}

.profile-img {
  border-radius: 50%;
  padding-inline: 0.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.menu-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline: 0.5rem;
  cursor: pointer;
}

.profile-dropdown,
.tab-dropdown {
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  border: 0.0125rem solid #0b132b;
  border-top: none;
}
.tab-dropdown {
  right: 0;
}

.profile-btn,
.tab-link {
  border: none;
  background-color: #f5f5f5;
  padding: 1rem;
  color: #0b132b;
  font-size: 1rem;
}

.profile-btn:hover,
.tab-link:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.tab-link {
  text-decoration: none;
}

.active-link {
  background-color: #e4e4e4;
}
