.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  padding-inline: 1rem;
  font-size: 1.5rem;
  color: #0b132b;
  box-shadow: 0 0 0.25rem #0b132b;
}

.nav-profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.profile-img {
  border-radius: 50%;
  height: 2.5rem;
}
